body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

main{
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.9);
}

header{
    color: black;
    background-color: white;
    font-size: 20px;
}

.header-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-weight: 600;
}

.header-content ::before{
    content: '';
    margin: 5px;
    border: 2px solid black;
}

.header-content ::after{
    content: '';
    margin: 5px;
    border: 2px solid black;
}

main{
    display: flex;
    justify-content: space-between;
}

.my_photo{
    background-image: url('images/8fQcYkRDn5w.jpg');
    width: 160%;
    border-radius: 5px;
    margin-right: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.about_me{
    margin-top: 70px;
    line-height: 1.5;
}

h2{
    text-align: center;
    transition: 0.2s;
}

h2:hover{
    transform: scale(1.1);
    color: rgb(255, 76, 5);
}

.about_me h3{
    text-align: center;
    transition: 0.3s;
}

.program:hover h3,
.skills-hobbies:hover h3,
.educ:hover h3{
    letter-spacing: 3px;
    color: rgb(255, 76, 5);
}

.about_me p{
    text-indent: 30px;
    transition: 0.2s;
}

.educ:hover p,
.program:hover p,
.skills-hobbies:hover p{
    color: rgb(255, 76, 5);
}

.examples{
    margin-top: 40px;
}

.examples a{
    color: white;
    transition: 0.2s;
    text-decoration: none;
    padding: 20px 20px 20px 30px;
}

.examples a:hover{
    padding-left: 60px;
    color: rgb(255, 76, 5);
}

.examples span{
    color: rgb(155, 155, 155);
    font-size: 10px;
}

footer{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 0 70px;
    color: black;
}

footer nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.social-links{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links div, .social-links-icons{
    width: 50px;
    height: 50px;
    transition: 0.2s;
}

.linkedIn img{
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
}

.social-links div:hover{
    transform: scale(1.2);
}

.social-text a{
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

.social-text div{
    margin-bottom: 15px;
}

.social-text a:hover{
    color: rgb(255, 76, 5);
}

.phone{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.social-text{
    margin-top: 10px;

}

@media (max-width: 1050px){
    main, .header-content{
        display: block;
    }
    .header-content{
        padding-top: 15px;
        padding-bottom: 20px;
        text-align: center;
    }
    .my_photo{
        margin: 0 auto;
        height: 400px;
        width: 300px;
    }
}

@media (max-width: 1000px){
    footer nav{
        display: block;
        text-align: center;
    }
    .social-links{
        padding: 20px 0;
        margin: 0 auto;
    }
    .phone{
        padding-bottom: 15px;
    }
}

@media (min-width: 1600px){
    .my_photo{
        width: 70%;
        height: 700px;
    }
}